<nav class="nav-extended">
  <a href="/" class="brand-logo-custom">Магазин курсов</a>
  <ul class="tabs tabs-transparent">
    {{#if isHome}}
      <li><a href="/" class="active">Главная</a></li>
    {{else}}
      <li><a href="/">Главная</a></li>
    {{/if}}

    {{#if isCourses}}
      <li><a href="/courses" class="active">Курсы</a></li>
    {{else}}
      <li><a href="/courses">Курсы</a></li>
    {{/if}}

    {{#if isAuth}}

      {{#if isAdd}}
        <li><a href="/add" class="active">Добавить курс</a></li>
      {{else}}
        <li><a href="/add">Добавить курс</a></li>
      {{/if}}

      {{#if isCart}}
        <li><a href="/cart" class="active">Корзина</a></li>
      {{else}}
        <li><a href="/cart">Корзина</a></li>
      {{/if}}

      {{#if isOrders}}
        <li><a href="/orders" class="active">Заказы</a></li>
      {{else}}
        <li><a href="/orders">Заказы</a></li>
      {{/if}}

      <li><a href="/auth/logout">Выйти</a></li>

    {{else}}

      {{#if isLogin}}
        <li><a href="/auth/login#login" class="active">Войти</a></li>
      {{else}}
        <li><a href="/auth/login#login">Войти</a></li>
      {{/if}}

    {{/if}}   
  </ul>
</nav>
